In [1]:
#imports
import pandas as pd
import pandas_ta as ta

In [2]:
#import data from excel into a pandas DF
adidas = pd.read_csv('ADS.DE.csv')
bnp = pd.read_csv('BNP.PA.csv')
galp = pd.read_csv('GALP.LS.csv')
ko = pd.read_csv('KO.csv')
nos = pd.read_csv('NOS.LS.csv')
pepsico = pd.read_csv('PEP.csv')
paypal = pd.read_csv('PYPL.csv')
renault = pd.read_csv('RNO.PA.csv')
sap = pd.read_csv('SAP.DE.csv')
tesla = pd.read_csv('TSLA.csv')
tesla

,Date,Open,High,Low,Close,Adj Close,Volume
0,2010-06-29,1.266667,1.666667,1.169333,1.592667,1.592667,281494500
1,2010-06-30,1.719333,2.028000,1.553333,1.588667,1.588667,257806500
2,2010-07-01,1.666667,1.728000,1.351333,1.464000,1.464000,123282000
3,2010-07-02,1.533333,1.540000,1.247333,1.280000,1.280000,77097000
4,2010-07-06,1.333333,1.333333,1.055333,1.074000,1.074000,103003500
...,...,...,...,...,...,...,...
3444,2024-03-06,179.990005,181.580002,173.699997,176.539993,176.539993,107920900
3445,2024-03-07,174.350006,180.039993,173.699997,178.649994,178.649994,102129000
3446,2024-03-08,181.500000,182.729996,174.699997,175.339996,175.339996,85315300
3447,2024-03-11,175.449997,182.869995,174.800003,177.770004,177.770004,85391500
3448,2024-03-12,177.770004,179.429993,172.410004,177.539993,177.539993,87391700

In [6]:
#calculate indicators using pandas_ta

def calculate_indis(data):
    """Use a asset pandas dataframe and calculate indicators"""
    data['ema20'] = ta.ema(data['Close'], length=20)
    data['ema25'] = ta.ema(data['Close'], length=25)
    #data['%K'], data['%D'] = ta.stoch(data['High'], data['Low'], data['Close']) #default parameters
    data['coppock'] = ta.coppock(data['Close'], length=14)
    data['CMO'] = ta.cmo(data['Close'], length=14)
    data['vi_plus'] = ta.vortex_indicator_pos(data['High'], data['Low'], data['Close'])
    data['vi_minus'] = ta.vortex_indicator_neg(data['High'], data['Low'], data['Close'])
    return data


tesla = calculate_indis(tesla)
tesla.head(30)

AttributeError: module 'pandas_ta' has no attribute 'vortex_indicator_pos'

In [9]:
# Calculate True Strength Index (TSI) with default parameters
adidas['tsi'] = ta.vortex()

TypeError: vortex() missing 3 required positional arguments: 'high', 'low', and 'close'

In [5]:
tesla.ta.indicators()

Pandas TA - Technical Analysis Indicators - v0.3.14b0
Total Indicators & Utilities: 205
Abbreviations:
    aberration, above, above_value, accbands, ad, adosc, adx, alma, amat, ao, aobv, apo, aroon, atr, bbands, below, below_value, bias, bop, brar, cci, cdl_pattern, cdl_z, cfo, cg, chop, cksp, cmf, cmo, coppock, cross, cross_value, cti, decay, decreasing, dema, dm, donchian, dpo, ebsw, efi, ema, entropy, eom, er, eri, fisher, fwma, ha, hilo, hl2, hlc3, hma, hwc, hwma, ichimoku, increasing, inertia, jma, kama, kc, kdj, kst, kurtosis, kvo, linreg, log_return, long_run, macd, mad, massi, mcgd, median, mfi, midpoint, midprice, mom, natr, nvi, obv, ohlc4, pdist, percent_return, pgo, ppo, psar, psl, pvi, pvo, pvol, pvr, pvt, pwma, qqe, qstick, quantile, rma, roc, rsi, rsx, rvgi, rvi, short_run, sinwma, skew, slope, sma, smi, squeeze, squeeze_pro, ssf, stc, stdev, stoch, stochrsi, supertrend, swma, t3, td_seq, tema, thermo, tos_stdevall, trima, trix, true_range, tsi, tsignals, ttm_trend, ui, uo, variance, vhf, vidya, vortex, vp, vwap, vwma, wcp, willr, wma, xsignals, zlma, zscore

Candle Patterns:
    2crows, 3blackcrows, 3inside, 3linestrike, 3outside, 3starsinsouth, 3whitesoldiers, abandonedbaby, advanceblock, belthold, breakaway, closingmarubozu, concealbabyswall, counterattack, darkcloudcover, doji, dojistar, dragonflydoji, engulfing, eveningdojistar, eveningstar, gapsidesidewhite, gravestonedoji, hammer, hangingman, harami, haramicross, highwave, hikkake, hikkakemod, homingpigeon, identical3crows, inneck, inside, invertedhammer, kicking, kickingbylength, ladderbottom, longleggeddoji, longline, marubozu, matchinglow, mathold, morningdojistar, morningstar, onneck, piercing, rickshawman, risefall3methods, separatinglines, shootingstar, shortline, spinningtop, stalledpattern, sticksandwich, takuri, tasukigap, thrusting, tristar, unique3river, upsidegap2crows, xsidegap3methods